form.val input[type="text"],
form.val input[type="email"],
form.val input[type="password"],
form.val textarea:focus,
form.val select:focus { 
    width: 90%;
  
}

form.val input[type="text"]:focus,
form.val input[type="email"]:focus,
form.val input[type="password"]:focus,
form.val textarea:focus,
form.val select:focus { 
    border-color: #44f97e;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #44f97e;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #44f97e;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #44f97e;
    color: rgb(0,0,0);
    
}

form.val input[type="text"]:invalid:focus,
form.val input[type="email"]:focus,
form.val input[type="password"]:invalid:focus,
form.val textarea:invalid:focus,
form.val select:invalid:focus { 
    border-color: #f4aa42;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #f4aa42;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #f4aa42;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #f4aa42;
}